body {
  margin: 0 auto;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#arvideo {
  overflow: hidden;
}

#arjs-video {
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
}


canvas {
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

#canvas {
  margin:0 auto;
}

a {
  position: fixed;
  bottom: 5vh;
  right: 5vw;
  text-decoration: none;
  color: #1d1d1d;
  display: block;
  max-width: 240px;
  padding: 0.5rem;
  border-radius: 50px;
  border: 1px solid #1d1d1d;
  padding: 0.5rem 1rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  font-weight: bold;
  transition: transform .2s;
}

a:active {
  transform: scale(.95);
}

.modal {
  display: none;
  position: fixed;
  top:0;
  left:0;
  z-index:100;
  background-color: black;
  text-align: center;
  justify-content: center;
  align-items: center;
  color:#1d1d1d;
  height: 100%;
  width: 100%;
  margin: 0;
}

img {
  width:100%;
  height:auto;
}